<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>02-05-2017 - Notes from PhD meeting.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>516037435.63388199</real>
				<key>lastModification</key>
				<real>516037435.63388199</real>
				<key>version</key>
				<dict>
					<key>2b3ccdd3bda7b33959d714159c212f235f9eca65456899a20519a12c7c0ce3e7</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>516037426.89278698</real>
				<key>lastModification</key>
				<real>516037426.89278698</real>
				<key>version</key>
				<dict>
					<key>2b3ccdd3bda7b33959d714159c212f235f9eca65456899a20519a12c7c0ce3e7</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>proposal and timeline.md</key>
			<dict>
				<key>lastModification</key>
				<real>515949968.04060698</real>
				<key>version</key>
				<dict>
					<key>2b3ccdd3bda7b33959d714159c212f235f9eca65456899a20519a12c7c0ce3e7</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>02-05-2017 - Notes from PhD meeting.md</string>
		</array>
		<array>
			<string>proposal and timeline.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2b3ccdd3bda7b33959d714159c212f235f9eca65456899a20519a12c7c0ce3e7</key>
			<integer>17</integer>
		</dict>
	</dict>
</dict>
</plist>
