<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>planning</string>
		<string>supervision_meetings</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>planning</key>
			<dict>
				<key>lastModification</key>
				<real>515949903.40214598</real>
				<key>version</key>
				<dict>
					<key>2b3ccdd3bda7b33959d714159c212f235f9eca65456899a20519a12c7c0ce3e7</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>supervision_meetings</key>
			<dict>
				<key>lastModification</key>
				<real>515949892.95666999</real>
				<key>version</key>
				<dict>
					<key>2b3ccdd3bda7b33959d714159c212f235f9eca65456899a20519a12c7c0ce3e7</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>515949433.40272599</real>
				<key>version</key>
				<dict>
					<key>2b3ccdd3bda7b33959d714159c212f235f9eca65456899a20519a12c7c0ce3e7</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Untitled - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515949442.586483</real>
				<key>lastModification</key>
				<real>515949442.586483</real>
				<key>version</key>
				<dict>
					<key>2b3ccdd3bda7b33959d714159c212f235f9eca65456899a20519a12c7c0ce3e7</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>Untitled - 3.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515949442.62872899</real>
				<key>lastModification</key>
				<real>515949442.62872899</real>
				<key>version</key>
				<dict>
					<key>2b3ccdd3bda7b33959d714159c212f235f9eca65456899a20519a12c7c0ce3e7</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515949442.57139999</real>
				<key>lastModification</key>
				<real>515949442.57139999</real>
				<key>version</key>
				<dict>
					<key>2b3ccdd3bda7b33959d714159c212f235f9eca65456899a20519a12c7c0ce3e7</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>timeline.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515949911.94227898</real>
				<key>lastModification</key>
				<real>515949911.94227898</real>
				<key>version</key>
				<dict>
					<key>2b3ccdd3bda7b33959d714159c212f235f9eca65456899a20519a12c7c0ce3e7</key>
					<integer>10</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>timeline.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>Untitled - 2.md</string>
		</array>
		<array>
			<string>Untitled - 3.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>2b3ccdd3bda7b33959d714159c212f235f9eca65456899a20519a12c7c0ce3e7</key>
			<integer>6</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>2b3ccdd3bda7b33959d714159c212f235f9eca65456899a20519a12c7c0ce3e7</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
